# Environment variables
.env

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
*.swp

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/